<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764911300712-pciod1c8e3b9cn52qhdntsmb10lin868.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764911300712-pciod1c8e3b9cn52qhdntsmb10lin868</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>764911300712-5o0t86n01oocoa5u518n0r8bhudbg8uf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALVX6YZUGGCn3Kralu5aXYtPz_csQ9M7g</string>
	<key>GCM_SENDER_ID</key>
	<string>764911300712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.wepy.wepy-wallet-1</string>
	<key>PROJECT_ID</key>
	<string>wepy-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>wepy-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764911300712:ios:6172af01c1db9d3bc84bdd</string>
	<key>DATABASE_URL</key>
	<string>https://wepy-wallet.firebaseio.com</string>
</dict>
</plist>